#sidebar
{
  float: left;
  width: 25ex;
  background: #1D2023;
  height: 100%;
}

#Home
{
  margin-left: 25ex!important;
  width:80%;
}

#Home ul
{
  list-style: square;
  margin: 1ex 3ex;
  line-height: 1;
}

#Home table
{
  border-collapse: collapse;
}

#Home th, #Home td
{
  border: 1px solid #DDDDDD;
  padding: 0.5ex 2ex;
}

table td, table td * 
{
  vertical-align: top;
}

.nav
{
  height: 100%;
  width: 100%;
}

.nav h2
{
  
  color: white;
  font-size: 2ex;
  margin: 1ex;
  text-transform: uppercase;
  font-weight: normal;
}

.nav ul
{
  list-style: none;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.nav li
{
    background-color: #285c97;/*#285c97;*/
    margin: 0.2ex 0;
    height: 5%;
    width: 100%;
}

.nav a
{
  font-weight: bold;
  margin: 5ex 2ex;
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 100%;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.nav a:active li{
    border-left: 5px solid #CCCCCC;
}

.nav a:hover li{
    border-left: 5px solid #CCCCCC;
}

#Home h3
{
  margin: 0!important;
}

#pageLogin
{
  float: right;
}

*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
}

a img
{
  border: none;
}

#wrapper
{
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#head
{
  border-top: 10px solid #072046;
  border-bottom: 2px solid #072046;
  padding: 1ex 2ex 17px;
  background:linear-gradient(to right,#dcf3f5, #9CC6F0, #71b2f3 , #9CC6F0, #dcf3f5);
  height: 135px;

}

#head img
{
  display: block;
  margin: -0.5% 30%;

}

#Home
{
  margin: 0 2ex;
  padding: 1ex 1ex 120px;
  color: #666666;
  background: #FFFFFF;
}

#Home h2
{
  font-size: 3.25ex;
}

#Home h2 div {
  font-size: 1ex;
  font-weight: normal;
}

#Home h3
{
  color: #337acc;
  margin: 1.5ex 0;
  font-size: 2.5ex;
}

#Home p
{
  margin: 1ex 5ex 1ex 0;
}

#Home a
{
  color: #337ACC;
}

