#sidebar
{
  float: left;
  width: 25ex;
  background: #1D2023;
  height: 100%;
}

#content
{
  margin-left: 25ex!important;
}

#content ul
{
  list-style: square;
  margin: 1ex 3ex;
  line-height: 1;
}

#content table
{
  border-collapse: collapse;
}

#content th, #content td
{
  border: 1px solid #DDDDDD;
  padding: 0.5ex 2ex;
}

.nav
{
  height: 100%;
  width: 100%;
}

.nav h2
{
  
  color: white;
  font-size: 2ex;
  margin: 1ex;
  text-transform: uppercase;
  font-weight: normal;
}

.nav ul
{
  list-style: none;
  margin-left: 0;
  height: 100%;
  width: 100%;
}

.nav li
{
    background-color: #729FCF;/*#777777;*/
    margin: 0.2ex 0;
    height: 5%;
    width: 100%;
}

.nav a
{
  font-weight: bold;
  margin: 5ex 2ex;
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 100%;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.nav a:active li{
    border-left: 5px solid #CCCCCC;
}

.nav a:hover li{
    border-left: 5px solid #CCCCCC;
}

#content h3
{
  margin: 0!important;
}

#pageLogin
{
  float: right;
}

.pkglist
{
  border: 1px solid #CCCCCC;
  width: 100%;
  margin: 1.5ex 0;
  text-align: center;
}

.pkglist th, .pkglist td
{
  border: none!important;
}

.pkglist table th, .pkglist table td
{
  border: 1px solid #CCCCCC;
}

.actions
{
  list-style: none;
  line-height: 1;
  margin: 1ex 0!important;
}

.actions li
{
  display: inline;
  margin-right: 1ex;
}

a.bodhi
{
  padding-left: 20px;
  background: url(../images/bodhi.png) 0 50% no-repeat;
}

a.koji
{
  padding-left: 20px;
  background: url(../images/koji.png) 0 50% no-repeat;
}

*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
}

body
{
  height: 100%;
  background: #FFFFFF url(//fedoraproject.org/static/images/border-left.png) 0 0 repeat-y;
}

a img
{
  border: none;
}

#wrapper
{
  min-height: 100%;
  height: 100%;
}

#head
{
  border-top: 10px solid #072046;
  border-bottom: 2px solid #072046;
  padding: 1ex 2ex 17px;
  background:linear-gradient(to right,#dcf3f5, #9CC6F0, #71b2f3 , #9CC6F0, #dcf3f5);
  height: 135px;

}

#head img
{
  display: block;
  margin: -0.5% 30%;

}

#content
{
  margin: 0 2ex;
  padding: 1ex 1ex 120px;
  color: #666666;
  background: #FFFFFF;
}

#content h2
{
  font-size: 3.25ex;
}

#content h2 div {
  font-size: 1ex;
  font-weight: normal;
}

#content h3
{
  color: #337acc;
  margin: 1.5ex 0;
  font-size: 2.5ex;
}

#content p
{
  margin: 1ex 5ex 1ex 0;
}



#content a
{
  color: #337ACC;
}

#footer
{
  position: relative;
  font: normal 1.5ex/1.5 sans-serif;
  clear: both;
  text-align: center;
  background: #FFFFFF url(//fedoraproject.org/static/images/line-bottom.png) 0 0 repeat-x;
  margin: -90px 0 0;
  height: 80px;
  color: #AAAAAA;
}

#footer ul
{
  list-style: none;
}

#footer li
{
  display: inline;
  border-left: 1px solid #AAAAAA;
  padding: 0 0.75ex;
  margin-left: -1px;
}

#footer li.first
{
  border-left: none;
}

#footer a
{
  color: #223344;
}

#footer a:hover
{
  color: #112233;
}

#footer .copy
{
  padding-top: 3ex;
}

.ToolTip {
  display: block;
  position: absolute;
  border: 1px solid black;
  background-color: lightyellow;
  width: 200px;
}

.invisible {
  display: none;
}